.tile {
  height: 100px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}
.checked {
    background-image: url("assets/helmet.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    background-color: #439889;
}
